@use "variables" as *;
@use "sass:color";

.sidebar {
  text-align: center;
  .logo {
    margin-top: 41px;
    width: 48px;
  }

  .bar-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: $secondary-color-light;
    border: none;
    cursor: pointer;

    transition:
      background-color 0.2s ease,
      transform 0.1s ease;

    &:hover {
      background-color: color.adjust($secondary-color-light, $lightness: -5%);
    }

    &:active {
      transform: scale(0.95);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    // 內部 icon 樣式（SVG 或字體）
    .icon {
      width: 20px;
      height: 20px;
      fill: currentColor; // 讓 icon 顏色跟文字顏色同步
      color: $primary-color-dark; // 預設 icon 顏色
    }

    &.router-link-active {
      background-color: color.adjust($secondary-color-light, $lightness: -5%);
    }
  }
}

h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  margin-block-start: 0px;
  font-weight: $font-regular;
}
