$primary-color: #e3ac40 !default;
$primary-color-dark: #d07d09 !default;

$secondary-color: #fff1e9 !default;
$secondary-color-light: #fff9ec !default;

$accent-color: #766c57 !default;

$bg-color: #fefefe;

$gray2-color: #593f26 !default;
$gray3-color: #4a4436 !default;
$gray4-color: #c2c2c2 !default;
$gray5-color: #d2d2d2 !default;
$gray9-color: #f6f6f6 !default;
$gray10-color: #ffffff !default;

$font-size-base: 16px !default;
$font-family-base: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !default;
