$primary-color: #e3ac40 !default;
$primary-color-dark: #d07d09 !default;

$secondary-color: #fff1e9 !default;
$secondary-color-light: #fff9ec !default;

$accent-color: #766c57 !default;

$bg-color: #fefefe;

$gray2-color: #593f26 !default;
$gray3-color: #4a4436 !default;
$gray4-color: #c2c2c2 !default;
$gray5-color: #d2d2d2 !default;
$gray9-color: #f6f6f6 !default;
$gray10-color: #ffffff !default;

/* -------------------------------
  載入 Google Fonts 多個字重
  Thin 100, ExtraLight 200, Regular 400, Bold 700
------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700&display=swap");
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-semibold: 600;
$font-medium: 500;

$font-chinese: "Noto Sans TC", "Noto Sans", sans-serif; // 中文
$font-english: "Noto Sans", sans-serif; // 英文

$font-italic: italic;

$footer-height: 42px;
