$primary-color: #4caf50 !default;
$secondary-color: #ff9800 !default;

$bg-color: #fefefe;

$font-size-base: 16px !default;
$font-family-base: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !default;
